nav.top-bar
    ul.title-area
        li.name
        li.toggle-topbar
            a(href="#")
                span Homemade Granola

    section.top-bar-section
        ul.left
            li: a(href="#") Recipes
            li.divider
            li
                a(href="#") Reviews
            li.divider
